[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/nanchen24/spdlog.git
[submodule "Engine/vendor/glfw"]
	path = Engine/vendor/glfw
	url = https://github.com/nanchen24/glfw.git
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/nanchen24/imgui.git
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/nanchen24/glm.git
[submodule "Engine/vendor/yaml-cpp"]
	path = Engine/vendor/yaml-cpp
	url = https://github.com/nanchen24/yaml-cpp.git
[submodule "Engine/vendor/ImGuizmo"]
	path = Engine/vendor/ImGuizmo
	url = https://github.com/nanchen24/ImGuizmo.git
[submodule "Engine/vendor/assimp"]
	path = Engine/vendor/assimp
	url = https://github.com/nanchen2483/assimp.git
